@model IEnumerable<ChanhThuStore.DanhMucCon>
@foreach (var item in Model)
{
    <a href="#" class="list-group-item list-group-item-action active">@item.TenDanhMucCon <small class="text-muted">(50)</small></a>

}

